.body{
    font-family:"Avernir Next";
}
.main{
    width: 80%;
    margin: 0 auto;
}
.header{
    background-color: rgb(17, 156, 156);
    color: white;
    height: 70px;
}
.header-logo{
    font-size:36px;
    font-weight: bold;
    float: left;
    margin:5px 40px 20px 0px;
    padding-left :20px;

}

.header-list li{
    list-style: none;
    float :left;
    margin: 20px 40px 20px 0px ;
}
.copy-title{
    font-size:100px;
    font-weight: bold;
    padding:3px;

}
.copy-title span{
    color: rgb(156, 17, 17);
}
.copy-subtitle{
    font-size:24px;
    
    
}
.contents-title{
    border-bottom: 1px solid #dee7ec;
}
.contents-item{

    float:left;
    padding :30px 35px 30px 0px ;
}
.contact-container{
    clear:both;
}
.contact-title{
    border-bottom: 1px solid #dee7ec;
    margin-top:30px;
    font-size: 36px;
    font-weight: bold;
}
.footer{
    clear:both;
    background-color: #2f5167;
    color: white;
    height: 100px;
}
.footer-logo{
    font-size:36px;
    font-weight: bold;
    padding:10px;
    float :left;

}
.footer-list li{
    list-style:none;
}
.footer-list {
    float :right;
    
}