
/*home.css------------------------------------------------*/
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    opacity: 0.7;   
}

body{
    font-family:"Avernir Next";
}
.main{
    width: 80%;
    margin: 0 auto;
}
.header{
    background-color: rgb(17, 156, 156);
    color: white;
    height: 70px;
    position:fixed;
    top:0;
    width:100%;
    z-index: 1000;

}
.header-logo{
    font-size:36px;
    font-weight: bold;
    float: left;
    margin:5px 40px 20px 0px;
    padding-left :20px;

}

.header-list li{
    list-style: none;
    float :left;
    margin: 20px 40px 20px 0px ;
}
.copy-title{
    font-size:100px;
    font-weight: bold;
    padding:3px;

}
.copy-title span{
    color: rgb(156, 17, 17);
}
.copy-subtitle{
    font-size:24px;
    
    
}
.contents-title{
    border-bottom: 1px solid #dee7ec;
}
.contents-item{

    float:left;
    padding :30px 100px 30px 0px ;
}
.contact-container{
    clear:both;
}
.contact-title{
    border-bottom: 1px solid #dee7ec;
    margin-top:30px;
    font-size: 36px;
    font-weight: bold;
}
.footer{
    clear:both;
    background-color: #2f5167;
    color: white;
    height: 100px;
}
.footer-logo{
    font-size:36px;
    font-weight: bold;
    padding:10px;
    float :left;

}
.footer-list li{
    list-style:none;
}
.footer-list {
    float :right;
    
}
.contact-textarea{
    width:500px;
    height:100px;
    border: 1px solid #000000;


}
.contact-input{
    width:500px;
    height:30px;
    border: 1px solid #000000;

}
.contact-button{
    width:100px;
    height:30px;
    background-color: #dee7ec;
    clear:both;
}

.content-item {
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.content-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);

}
.homeBotton{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 200px;
    background-color: rgb(93, 176, 176);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/*myScore.css------------------------------------------------*/
.screenshot{
    width:900px;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.screenshot2{
    width:600px;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border:1px solid #000000;

}
.screenshot3{
    width:400px;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border:1px solid #000000;

}
.goodPoint{
    padding-top: 40px;
    padding-bottom: 40px;

    
}
.badPoint{
    
    padding-bottom: 40px;

    
}
.review{
    
    padding-bottom: 40px;
}
.complain{
    
    padding-bottom: 40px;
}
.cation1{
    justify-content: center;
    align-content: center;
    font-size:18px;

}

/*partTimeJob.css------------------------------------------------*/
.workplace{
    display: flex;
    align-items: center ;
    font-size: 20px;


   
    flex-direction: column;
}
.screenshotP1{
    width:800px;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    
}
.screenshotH1{
    width:600px;
    height:400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    
}